/*=============================
Default Values
Font: Oswald, sans serif
Colors:
1. Midnight Blue: #2c3e50;
2. Alizarin: #e74c3c;
==============================*/


/*=============================
        Basic Setup
==============================*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    resize:both;
    width: 100%;
}

body{
    font-family: "Oswald", sans-serif;
}

li{
    list-style: none;
    display:inline-block;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}


/*=============================
            Header
==============================*/
body{
    background-color:#2c3e50; 
}

header h1{
    text-align: center;
    color: #2c3e50;
    padding: 20px 0px;
}

header h1 span{
    color: #e74c3c;
}

/* Nav Menu */
.nav-menu{
    text-align: center;
    text-transform: uppercase;
    background-color: #f1f1f1;
}

.nav-menu a{
    color: #2c3e50;
}

.nav-menu a:hover{
    color: #e74c3c;
}

.nav-menu li{
    padding: 15px 20px
}

/*=============================
        About text
==============================*/
.about-text{
    padding: 0 50px;
}

.about-text h2{
    font-weight: 300;
    color: #e74c3c;
    font-size: 30px;
    margin: 30px 0;
}

.about-text p{
    color:  #2c3e50;
    font-size: 20px;
    margin-bottom: 10px;
}

.about-text a{
    color: #e74c3c;
    font-weight: 700;
}

.about-text a:hover{
    color:  #2c3e50;
}

/*=============================
            show food
==============================*/
.show-food{
    margin-top: 60px;
    padding: 0 50px;
}

.food{
    background-color: #2c3e50;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    color: white;
}

@media (max-width:780px){
    .food{
        display:inherit;
    }
}

.food:nth-child(2){
    background-color: #e74c3c;
}

.food .food-text{
    padding: 20px;
    font-size: 17px;
}

.food img{
    height: 100%;  
    margin:auto;
}

.food-text h2{
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.food-text p{
    font-weight: 300;
}

/*=============================
            Big image
==============================*/
.big-img{
    width: 80%;
    margin: auto;
}
.big-img img{
    width: 100%
}

/*=============================
            Footer
==============================*/
footer{
    background-color: #e74c3c;
    color: white;
    font-weight: 300;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}